 .u-section-1 {
  background-image: linear-gradient(black, #ff000b);
}

.u-section-1 .u-sheet-1 {
  min-height: 362px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 99px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -70px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 34px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 0 auto 0 188px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: -24px auto 0 715px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 72px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -60px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -1px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 86px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 86px;
    margin-left: 616px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
    margin-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-5 {
    width: 372px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: 237px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(#ff000b, #000000);
}

.u-section-2 .u-sheet-1 {
  min-height: 613px;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 54px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/unknown2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/f6ef1603-b450-34f4-d41c-ffc22c5c3408.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 94px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/6a597e5fdf10ad75.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}